[submodule "micropython-lib"]
	path = micropython-lib
	url = https://github.com/micropython/micropython-lib.git
[submodule "micropyGPS"]
	path = micropyGPS
	url = https://github.com/klaNath/micropyGPS.git
